
body{
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
		background: url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
}
form{
	width: 40%;
	margin: 100px auto;
	text-align: center;
	position: relative;
	background-color: whitesmoke;
	rgba
}
h1{
	font-family: 'Playfair Display SC', serif;
	width: 100%;
}
textarea{
    border: sienna;
    border-style: double;
		font-family: 'Comfortaa', cursive;
		width: 30%;
		min-height: 80px;
		
}
form{
	display:flex;
}





@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}