body{
    
	
		background: 	linear-gradient(rgba(241, 10, 48, 0.6), rgba(20, 79, 240, 0.6));
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;	
		background-position: center center;
}
h1{
	font-family: 'Bungee Inline', cursive;
	font-size: 230%;
	width: 100%;
	text-align: center;
	margin-bottom: 0.5%;
	margin-top: 0.5%;
}
form{
  margin-top: 5%;
	text-align: center;
	margin: auto;	
	border-radius: 3px;
	box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
	padding: 3% 2% 10%;
	background-color:rgb(250, 250, 250, 0.5);
	width: 600px;
	height: 220px;
	display:flex;
}
textarea{
    border: sienna;
    border-style: double;
		font-family: 'Comfortaa', cursive;
		width: 90%;
		height: 100px;
}

.txt{
	width:50%;
}
.buttons{
	font-family: 'Cabin Sketch', cursive;
	width: 200px;
	background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
	margin: 30px;
	font-size: 1em;
	padding: 5px;
	border-radius: 10%;
}
.buttons:hover {
	background-color: #e4121c;
	color: antiquewhite;
	font-size: 1.2em;
	width: 230px;
}
label{
	font-family: 'Comfortaa', cursive;
}
footer{
	font-family: 'Arima Madurai', cursive;
	text-align: center;
}
		
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
		}
		
}